# Ejercicios Propuestos

Realizar los siguientes ejercicios, para ellos deberá tener en cuenta los siguiente:
    
- Debe importar el paquete de Pandas
- Declarar funciones que retornen un valor
- Creación de Series y DataFrames
- Aplicar métodos básicos a una serie o a un DataFrame
- Importar archivos con Pandas
- Lea el ejericico **mínimo 5 veces**, plantee una ruta para resolver cada ejercicio en un papel, cuando ya tenga claro como abordar cada problema, proceda a realizar el debico código en Python, se recomienda este tipo de metodologías para el desarrollo de algoritmia y pensamiento lógico

# Ejercicio 1

Se tiene el siguiente diccionario el cual contiene la nota final que sacaron 5 estudiantes en una signatura cualquiera:

```Python
dict_notas = {
    "Juan": 4.5,
    "Carlos": 3.1,
    "Felipe": 4.1,
    "Sara": 2.5,
    "Luisa": 5    
}
```

Con dichos datos cree una Serie de Pandas que contenga lo siguiente:

- La nota mínima
- La nota máxima
- La media aritmética
- La mediana
- La desviación estándar

Para la correcta lectura de la serie, cambie el index numérico que viene por defecto, es decir el index corresponderá a los diferentes datos estadísticos que se solicitan, así:

```
minimo     2.50000
maximo     5.00000
media      3.84000
mediana    4.10000
std        1.02371
dtype: float64
```

In [1]:
import pandas as pd

def estadistica_notas(notas):
    
    notas = pd.Series(notas)
    
    minimo = notas.min()
    maximo = notas.max()
    media = notas.mean()
    mediana = notas.median()
    desviacion_std = notas.std()
    
    serie = pd.Series([minimo, maximo, media, mediana, desviacion_std], 
                      index = ["Min", "Max", "Media", "Mediana", "Std"])
    
    return serie

dict_notas = {
    "Juan": 4.5,
    "Carlos": 3.1,
    "Felipe": 4.1,
    "Sara": 2.5,
    "Luisa": 5    
}

print(estadistica_notas(dict_notas))

Min        2.500000
Max        5.000000
Media      3.840000
Mediana    4.100000
Std        1.023719
dtype: float64

# Ejercicio 2

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la siguiente tabla:

|        | Mes      | Ventas | Gastos |
|------: | -------: | -----: | -----: |
| **0**  | Enero    |  30500 |  22000 |
| **1**  | Febrero  |  35600 |  23400 |
| **2**  | Marzo    |  28300 |  18100 |
| **3**  | Abril    |  33900 |  20700 |

In [5]:
import pandas as pd

datos = {
    "Mes": ["Enero", "Febrero", "Marzo", "Abril"], 
    "Ventas": [30500, 35600, 28300, 33900], 
    "Gastos": [22000, 23400, 18100, 20700]
}

df_datos = pd.DataFrame(datos)
df_datos

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

# Ejercicio 3

Leer el archivo `cotizacion.csv` que se encuentra en la misma carpeta de este notebook, dichoa archivo contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: 

- Nombre (nombre de la empresa)
- Final (precio de la acción al cierre de bolsa)
- Máximo (precio máximo de la acción durante la jornada)
- Mínimo (precio mínimo de la acción durante la jornada)
- Volumen (Volumen al cierre de bolsa)
- Efectivo (capitalización al cierre en miles de euros)

Hacer una función que calcule para cada **columna** del Dataset los siguientes datos estadísticos:

- Valor mínimo
- Valor máximo
- La media aritmética

Como resultado debe obtener lo siguiente:

|            | Final        | Máximo       | Mínimo       | Volumen      | Efectivo     |
|----------: | ------------:| ------------:| ------------:| ------------:| ------------:|
| **Minimo** | 1.016500     | 4.067500     | 1.016500     | 1.221000e+03 | 2343.090     |
| **Maximo** | 19705.000000 | 19875.000000 | 19675.000000 | 3.612969e+07 | 145765.440   |
| **Media**  | 2796.768757  | 3170.113357  | 3136.510471  | 4.252279e+06 | 31767.778    |

In [1]:
import pandas as pd

path_file = "cotizacion.csv"

df = pd.read_csv(path_file, 
                 sep = ';', 
                 decimal = ',', 
                 thousands = '.', 
                 index_col = 0)

def resumen_cotizaciones(df = pd.DataFrame()):
    
    minimo = df.min()
    maximo = df.max()
    media = df.mean()
    
    df_final = pd.DataFrame([minimo, maximo, media], 
                            index = ['Mínimo', 'Máximo', 'Media'])
    
    return df_final

resultado = resumen_cotizaciones(df)
resultado

               Final        Máximo        Mínimo       Volumen    Efectivo
Mínimo      1.016500      4.067500      1.016500  1.221000e+03    2343.090
Máximo  19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440
Media    2796.768757   3170.113357   3136.510471  4.252279e+06   31767.778